*/__pycache__/*
.DS_Store
.vscode/
env/
*.pyc
.idea/
*.iml
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
*.env
.env.*
*.bak
*.swp
*.swo
coverage/
htmlcov/
.tox/
.pytest_cache/
.coverage
.pyre/
.mypy_cache/
.pytype/
.pyright/
celerybeat-schedule
instance/
instance/*
.webassets-cache/
pip-wheel-metadata/
__pypackages__/
venv
venv*/
env*/
ENV*/
.venv
.venv*/
.ENV*/
env.bak
env.old
env.backup